body {
    font-family: 'Arial', sans-serif;
    background-image: url('../img/desenfoque-abstracto-vacio-verde-degradado-studio-bien-utilizar-como-fondo-plantilla-sitio-web-marco-informe-comercial.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(168, 231, 151, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #336820;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

button {
    background-color: #16c809bb;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #68e629;
}

.hidden {
    display: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #6ee71200;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: #62ff0067;
}

#peliculasDisponibles, #carrito, #finalizar, #cuotas, #resultadoCuotas {
    margin-top: 20px;
    padding: 15px;
    background-color: #d8eec9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

input[type="number"]:focus {
    border-color: #007BFF;
}

p {
    margin: 10px 0;
}
